__pycache__/
.venv/
.venv
.env
artifacts/*
!artifacts/README.md
!artifacts/best_model.joblib
!artifacts/metrics.json
models/*
!models/README.md
!models/best_model.joblib
!models/metrics.json
.DS_Store
*.pyc
*.pyo
streamlit_app.log
ShuRiceApp_error.log
build/
dist/
documentation/build/
documentation/dist/
download_app/build/
download_app/dist/
*.spec
